@import "tailwindcss";

@theme {
  --color-primary: #000000;
    --color-secondary: #ff0000;
    --color-dark: #0f172a;
    --color-light: #ffffff;
    --color-gray: #e5e7eb;
    --color-hovers: #ad2f19;
    --font-primary: 'Montserrat', sans-serif;
}

